
canvas{
    touch-action: none;
    position: absolute;
    z-index: 1;
}
.container-info{
    display: flex;    
    height: 70%;    
    align-items: center;
    position: absolute;
    
}

.card-info{
    padding: 2.5rem;     
    text-align: center;
    background-color: rgba(0, 0, 0, 0.537);
    border-radius: 120px;
}

.name{
    font-size: 2.5rem;
    font-weight: bold;
    color: #932695;
}	

.biography{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}


